<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="text-center text-warning"> Student DashBoard</h1>
    </header><br /><br />

    <nav class="text-center">
        <ul class="text-decoration-none">
        <li ><a class=" text-white btn btn-primary nav-link" asp-action="">Search for courses</a></li><br />
            <li><a class="text-white btn btn-danger nav-link" asp-action="ProfileEdit">Profile Edit</a></li>
            <br />
            <li><a class="text-white btn btn-warning nav-link" asp-action="ChangePassword">Change Password</a></li>
            <br />
            <li><a class="text-white btn btn-success nav-link" asp-action="LogOut">LogOut</a></li>
            <br />
        </ul>
    </nav>
    </body>
    </html>
