@model scopeindia.Models.Firsttimelogin
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <h1 class="text-warning text-center">New password</h1>
    </header>
    <div class="card-body">
        <form asp-action="NewPassword" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="label-control"></label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="enter New password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <br />
    @section Scripts {
        @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    }
</body>
</html>

