<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
</head>
<body>
    
    <div>
    <h1 id="con1">SCOPE INDIA, your career partner!</h1><br /><br />
        <h3 id="con">One of the best Training Destination for Software, Networking and Cloud Computing courses in India with 17 years of Industrial experience.</h3><br />
        <img id="pic" src="~/images/img-20231009-wa0053.jpg" />
   </div>
</body>
</html>
